body {
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#main {
    max-width: 100%;
    margin: auto;
    background: #eee;
    padding: 2%;
}

#title, #content {
    max-width: 100%;
}

#img-div {
    max-width: 80%;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 2%;
    padding: 1%;
}

#image, #img-caption {
    max-width: 100%;
    display: block;
}

#image {
    margin: 0 auto 1% auto;
}

#img-caption {
    margin: auto;
}

#tribute-content {
    text-align: justify;
}

li {
    list-style: none;
}